<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GAMEPAD_ID_GAMEPAD" value="0"/>

    <add key="GAMEPAD_KIND_GAMEPAD" value="1"/>
    
    <add key="GAMEPAD_ALLOCATION_01_BUTTON_01" value="8"/>
    <add key="GAMEPAD_ALLOCATION_01_BUTTON_02" value="0"/>
    <add key="GAMEPAD_ALLOCATION_01_BUTTON_03" value="0"/>
    <add key="GAMEPAD_ALLOCATION_01_KIND" value="0"/>
    <add key="GAMEPAD_ALLOCATION_01_KEY_01" value="0"/>
    <add key="GAMEPAD_ALLOCATION_01_KEY_02" value="0"/>
    <add key="GAMEPAD_ALLOCATION_01_MOUSE_X" value="0"/>
    <add key="GAMEPAD_ALLOCATION_01_MOUSE_Y" value="0"/>

    <add key="GAMEPAD_ALLOCATION_02_BUTTON_01" value="0"/>
    <add key="GAMEPAD_ALLOCATION_02_BUTTON_02" value="0"/>
    <add key="GAMEPAD_ALLOCATION_02_BUTTON_03" value="0"/>
    <add key="GAMEPAD_ALLOCATION_02_KIND" value="0"/>
    <add key="GAMEPAD_ALLOCATION_02_KEY_01" value="0"/>
    <add key="GAMEPAD_ALLOCATION_02_KEY_02" value="0"/>
    <add key="GAMEPAD_ALLOCATION_02_MOUSE_X" value="0"/>
    <add key="GAMEPAD_ALLOCATION_02_MOUSE_Y" value="0"/>

    <add key="GAMEPAD_ALLOCATION_03_BUTTON_01" value="0"/>
    <add key="GAMEPAD_ALLOCATION_03_BUTTON_02" value="0"/>
    <add key="GAMEPAD_ALLOCATION_03_BUTTON_03" value="0"/>
    <add key="GAMEPAD_ALLOCATION_03_KIND" value="0"/>
    <add key="GAMEPAD_ALLOCATION_03_KEY_01" value="0"/>
    <add key="GAMEPAD_ALLOCATION_03_KEY_02" value="0"/>
    <add key="GAMEPAD_ALLOCATION_03_MOUSE_X" value="0"/>
    <add key="GAMEPAD_ALLOCATION_03_MOUSE_Y" value="0"/>

    <add key="GAMEPAD_ALLOCATION_04_BUTTON_01" value="0"/>
    <add key="GAMEPAD_ALLOCATION_04_BUTTON_02" value="0"/>
    <add key="GAMEPAD_ALLOCATION_04_BUTTON_03" value="0"/>
    <add key="GAMEPAD_ALLOCATION_04_KIND" value="0"/>
    <add key="GAMEPAD_ALLOCATION_04_KEY_01" value="0"/>
    <add key="GAMEPAD_ALLOCATION_04_KEY_02" value="0"/>
    <add key="GAMEPAD_ALLOCATION_04_MOUSE_X" value="0"/>
    <add key="GAMEPAD_ALLOCATION_04_MOUSE_Y" value="0"/>

	<add key="GAMEPAD_ALLOCATION_05_BUTTON_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_05_BUTTON_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_05_BUTTON_03" value="0"/>
	<add key="GAMEPAD_ALLOCATION_05_KIND" value="0"/>
	<add key="GAMEPAD_ALLOCATION_05_KEY_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_05_KEY_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_05_MOUSE_X" value="0"/>
	<add key="GAMEPAD_ALLOCATION_05_MOUSE_Y" value="0"/>

	<add key="GAMEPAD_ALLOCATION_06_BUTTON_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_06_BUTTON_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_06_BUTTON_03" value="0"/>
	<add key="GAMEPAD_ALLOCATION_06_KIND" value="0"/>
	<add key="GAMEPAD_ALLOCATION_06_KEY_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_06_KEY_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_06_MOUSE_X" value="0"/>
	<add key="GAMEPAD_ALLOCATION_06_MOUSE_Y" value="0"/>

	<add key="GAMEPAD_ALLOCATION_07_BUTTON_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_07_BUTTON_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_07_BUTTON_03" value="0"/>
	<add key="GAMEPAD_ALLOCATION_07_KIND" value="0"/>
	<add key="GAMEPAD_ALLOCATION_07_KEY_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_07_KEY_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_07_MOUSE_X" value="0"/>
	<add key="GAMEPAD_ALLOCATION_07_MOUSE_Y" value="0"/>

	<add key="GAMEPAD_ALLOCATION_08_BUTTON_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_08_BUTTON_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_08_BUTTON_03" value="0"/>
	<add key="GAMEPAD_ALLOCATION_08_KIND" value="0"/>
	<add key="GAMEPAD_ALLOCATION_08_KEY_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_08_KEY_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_08_MOUSE_X" value="0"/>
	<add key="GAMEPAD_ALLOCATION_08_MOUSE_Y" value="0"/>

	<add key="GAMEPAD_ALLOCATION_09_BUTTON_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_09_BUTTON_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_09_BUTTON_03" value="0"/>
	<add key="GAMEPAD_ALLOCATION_09_KIND" value="0"/>
	<add key="GAMEPAD_ALLOCATION_09_KEY_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_09_KEY_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_09_MOUSE_X" value="0"/>
	<add key="GAMEPAD_ALLOCATION_09_MOUSE_Y" value="0"/>

	<add key="GAMEPAD_ALLOCATION_10_BUTTON_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_10_BUTTON_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_10_BUTTON_03" value="0"/>
	<add key="GAMEPAD_ALLOCATION_10_KIND" value="0"/>
	<add key="GAMEPAD_ALLOCATION_10_KEY_01" value="0"/>
	<add key="GAMEPAD_ALLOCATION_10_KEY_02" value="0"/>
	<add key="GAMEPAD_ALLOCATION_10_MOUSE_X" value="0"/>
	<add key="GAMEPAD_ALLOCATION_10_MOUSE_Y" value="0"/>
  </appSettings>
</configuration>
